<div class="content_editor essence_spree_taxon essence_select">
  <%= content_label(content) %>
  <%= select_tag(
    content.form_field_name,
    options_from_collection_for_select(
      local_assigns.fetch(:options, {})[:taxons] || Spree::Taxon.all,
      :id,
      :pretty_name,
      content.essence.taxon_id
    ),
    include_blank: t(".none"),
    class: ["alchemy_selectbox", "essence_editor_select", html_options[:class]].join(' '),
    style: html_options[:style]
  ) %>
</div>
