<div class="content_editor essence_spree_variant" id="<%= content.dom_id %>" data-content-id="<%= content.id %>">
  <%= content_label(content) %>
  <%= select_tag(
    content.form_field_name,
    options_from_collection_for_select(Spree::Variant.all, :id, :name, content.essence.variant_id),
    id: content.form_field_id,
    class: 'alchemy_selectbox full_width'
  ) %>
</div>
