<div class="content_editor">
	<label><%= render_content_name(content) %></label>
	<%= select_tag(
		content.form_field_name,
		options_from_collection_for_select(Spree::Product.not_deleted, :id, :name, content.essence.spree_product_id),
		:class => ['alchemy_select', html_options[:class]].join(' '),
		:style => html_options[:style]
	) %>
</div>
