/*
 *= require_self
 */

@import "alchemy/defaults";
@import "alchemy/dialogs";
@import "alchemy/preview_window";
@import "alchemy/icons";
@import "alchemy/buttons";
@import "alchemy/toolbar";
@import "alchemy/elements";
@import "alchemy/form_fields";
@import "alchemy/archive";
@import "alchemy/spinner";

// Fixes for Alchemy css incompatibilities

button, button:hover {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
}
