name: Test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: test-${{ github.ref_name }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  Rspec:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.2"
          - "3.3"
          - "3.4"
        alchemy:
          - "8.1-stable"
        solidus:
          - "v4.5"
          - "v4.6"
    env:
      ALCHEMY_BRANCH: ${{ matrix.alchemy }}
      SOLIDUS_BRANCH: ${{ matrix.solidus }}
      SOLIDUS_SKIP_MIGRATIONS_CHECK: true
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Prepare tests
        run: bundle exec rake test_setup
      - name: Run tests
        run: bundle exec rspec
